#text_ {
    background-color: burlywood;
    padding: 20px;
    height: 400px;
}

#lista {
    
    display: flex;
    flex-wrap: wrap;
    
}

#tekst {
    color: #f8f5e4;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    width: 400px;
    border-bottom: 3px solid #f8f5e4;
    word-wrap: break-word;
}

/*
span:nth-of-type(even) {
    border-bottom: 3px solid black;
    border-top: 3px solid black;

}
*/

#form {
    padding: 20px;
    font-family: sans-serif;
    margin: 0 auto; 
    background-color: #0e3047;
    color: #f8f5e4;
}

#naslov, #pisac, #cena {
    display: flow-root;
    color: #0e3047;
    
}

#btn{
    
    padding: 10px;
    display: block;
    margin: auto;
    cursor: pointer;
    background-color: #f97300;
    color: black;
    border: 5px dotted rgba(41, 128, 185, 0.1);
}

#del_img{
    margin-left: 20px;
    opacity: .6;
    float: right;
    
}

#del_img:hover {
    opacity: 1;
    cursor: pointer;
    
}

body {
    margin: auto;
    width: 50%;
}

html {
    background-color: #10828c;
}